---
layout: default
pagination:
  enabled: true
---
<!-- Just some nice to have styles for the pager buttons -->
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
</style>

<div class="home">
  <div><a href="../..">back to the front page</a></div>

  <h1>Knowledge from the Depths</h1>
  {% if paginator.total_pages > 1 %}
  <p class="page-heading">Page {{page.pagination_info.curr_page}} of {{page.pagination_info.total_pages}}</p>
  {% endif %}

  <div class="post-list">
    <!--
        Here is the main paginator logic called.
        All calls to site.posts should be replaced by paginator.posts
    -->
    {% for post in paginator.posts %}
      <div class="post-item">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <div class="post-meta-block">
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.collection %}, filed under "{{ post.collection | capitalize }}"{% endif %}</div>
        {% if post.tags %}<div class="post-tags">Tags: {{ post.tags | array_to_sentence_string: "" }}</div>{% endif %}
        </div>
        <div class="content">
          {{ post.excerpt | markdownify }}
          <p><i><a class="post-link" href="{{ post.url | relative_url }}">Read on...</a></i></p>
        </div>
      </div>
    {% endfor %}
    </div>

  <!--
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
