---
layout: default
---
<div><a href="../../../../..">back to the front page</a></div>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.collection %}<div class="post-collection">Filed under "{{ page.collection | capitalize }}"</div>{% endif %}
      {% if page.tags %}<div class="post-tags">Tags: {{ page.tags | array_to_sentence_string: "" }}</div>{% endif %}
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content | markdownify }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
